<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>独立之精神，自由之思想</h2>
                <p>HAN JUNHUI, THE PRESIDENT OF HIS GROUP.</p>
                <ul class="actions">
                    <!--<li><a href="#content" class="button big special">Sign Up</a></li>-->
                    <li><a href="#elements" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
